.parent
{
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: 200px auto;
  position: relative;

}

.child1
{
  
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 100px auto 0 auto;
 

 
}
.child2
{
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin-left: 100px;
 

 
}
.child3
{
  width: 100px;
  height: 100px;
  background-color: green;
    margin-left: 100px;
 


 
}
.child4
{
  width: 100px;
  height: 100px;
  background-color:blue;
      margin-left: 200px;

 
}
.child5
{
  width: 100px;
  height: 100px;
  background-color: grey;
  margin-left: 100px;
 
}
