.parent {
  width: 500px;
  height: 100vh;
  border: 1px solid black;
  position: relative;
  background-color: #000000;
}

.child1 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  
  border: 5px solid white;
  position: sticky;
}
.child2 {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  border: 5px solid white;
}
.child3 {
  width: 100px;
  height: 100px;
  top: 00px;
  background-color: green;
  
  border: 5px solid white;
}
.child4 {
  width: 100px;
  height: 100px;
  background-color: blue;
  top: 400px;
  border: 5px solid white;
  position: fixed;
}
.child5 {
  width: 100px;
  height: 100px;
  background-color: rgb(91, 3, 86);
  border: 5px solid white;
  position: sticky;
  top: 500px;

}
